http:
  routers:
    traefik-api:
      rule: Host(`{{ traefik_api.host }}`) 
      service: api@internal
      entryPoints:
        - websecure
      middlewares:
        - default-headers
        - traefik-auth
      tls:
        certResolver: "{{ traefik_api.tls_provider }}"
        domains:
          - main: "{{ traefik_api.main }}"
            sans: 
              {% for san in traefik_api.sans %}
- "{{ san }}"
              {% endfor %}
            
  middlewares:
    traefik-auth:
      basicAuth:
        usersFile: "/config/users.txt"