---
services:
  traefik:
    image: "traefik"
    restart: "unless-stopped"
    networks:
      - {{ traefik.docker_network }}
    environment:
      - "CF_API_EMAIL={{ cloudflare.email }}"
      - "CF_DNS_API_TOKEN={{ cloudflare.token }}"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik.yml:/etc/traefik/traefik.yml:ro"
      - "./config:/config:ro"
      - "./acme-cf.json:/acme-cf.json"
      - "./acme-http.json:/acme-http.json"
    logging:
      driver: "{{ traefik.logging.driver }}"
      options:
        max-size: "{{ traefik.logging.max_size }}"
        max-file: "{{ traefik.logging.max_file }}"

networks:
  {{ traefik.docker_network }}:
    external: true