global:
  checkNewVersion: true

log:
  level: debug
  filePath: "/logs/traefik.json"
  #format: json
accessLog:
  filepath: "/logs/access.json"
  #format: json

api:
  dashboard: true
  debug: true
entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"

serversTransport:
  insecureSkipVerify: true

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    directory: "/config"
    watch: true

certificatesResolvers:
  cloudflare:
    acme:
      email: {{ cloudflare.email }}
      storage: /acme-cf.json
      dnsChallenge:
        provider: cloudflare
          #disablePropagationCheck: true # uncomment this if you have issues pulling certificates through cloudflare, By setting this flag to true disables the need to wait for the propagation of the TXT record to all authoritative name servers.
        resolvers:
          - "1.1.1.1:53"
          - "1.0.0.1:53"
  letsencrypt:
    acme:
      email: {{ cloudflare.email }}
      storage: /acme-http.json
      httpChallenge:
        entryPoint: web
      caServer: https://acme-v02.api.letsencrypt.org/directory