global:
  checkNewVersion: true

log:
  level: {{ traefik_log.level }}
  format: {{ traefik_log.format }}
accessLog:
  format: {{ traefik_log.format }}

api:
  dashboard: true
  debug: true
entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"

serversTransport:
  insecureSkipVerify: true

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    directory: "/config"
    watch: true

certificatesResolvers:
  cloudflare:
    acme:
      email: {{ cloudflare.email }}
      storage: /acme-cf.json
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "1.0.0.1:53"
  letsencrypt:
    acme:
      email: {{ cloudflare.email }}
      storage: /acme-http.json
      httpChallenge:
        entryPoint: web
      caServer: https://acme-v02.api.letsencrypt.org/directory

http:
  routers:
    default:
      rule: "HostRegexp(`{host:.+}`)"
      entryPoints:
        - websecure
      middlewares:
        - default-headers